#wrapper1 {
	width: 984px;
}
#header {
	width: 968px;
	height: 200px;
}
#tools {
	height: 25px;
}
#logo {
	width: 968px;
	height: 58px;
}
#extra {
	width: 18%;
	float: left;
	position: relative;
}
#mapa {
	width: 250px;
	float: left;
	position: relative;
}
#main {
	width: 78%;
	float: right;
	position: relative;
}
#detalle_sala {
	width: 500px;
	float: right;
	position: relative;
}
#content {
	width: 68%;
	float: left;
}
#menu_left{
	width: 27%;
	float:right;
}

.desc_salas {
	float: left;
	width: 330px;
	height: 100px;
}
#footer {
	clear: both;
	height: auto;
}
.text_box {
	width: 500px;
}
.text_box a {
	width: 500px;
}
/* Stilos para los formularios */

#formularios .form_presentacion {
	display: block;
}
#formularios .form_pregunta {
	width:200px;
	text-align:right;
}
#formularios .form_nom_amb {
	text-align:left;
}
/* Stilos para el calendario del mes */

table.smallcalmth {
	/*width: 100%;*/ /*w*/
}
table.vacios {
	width: 100%;
}
/* font for calendar day name */

div.ambientes {
	float: left;
}
/* font for calendar date numbers */

div.left {
	width:30%;
	float: left;
}
div.right {
	width:30%;
	float:right;
}

/*estilos para el panel de contactos*/ /*w*/
.error, .error_popup { 
	font-family: Helvetica, Verdana;
	font-size: 13px;
	padding-bottom : 6px;
	background-color:#ffabab;
	background-image:url("../../imagenes/iconos/button_cancel.png");
	background-repeat:no-repeat;
	text-align:center;
	margin-left: 2em;
	margin-right:2em;
	margin-bottom: 2em;
	margin-top: 0em;
}
.success,  .success_popup{ 
	font-family: Helvetica, Verdana;
	font-size: 13px;
	padding-bottom : 6px;
	background-color:#cff5a6;
	background-image:url("../../imagenes/iconos/button_ok.png");
	background-repeat:no-repeat;
	text-align:center;
	margin-left: 2em;
	margin-right:2em;
	margin-top: 0em;
	margin-bottom: 2em;
 }
 
.subsection{
	font-size: 1em; 
	//margin-top:2em;
	margin-top:1em;
	/*background-color:#7B859C;*/
	background:#d4dfe4;
	//color: #666;
	margin-left: 1.8em;
	margin-right: 1.8em;
	border: 1px solid #C0C0C0;
}

.subtitle{
	font-weight: bold;
	font-size: 1.1em; 
	background:#7b859c;
	color: #FFF;
}

.form-light{ 
	padding:0.5em;
	margin-bottom:0em;
	margin: 0em;
	border: 0px;
	background:#EFEFEF;
	margin-left: 0em;
	margin-right: 0em;
}

/*w*/
/*burbuja*/
.bubble {background: transparent;}

.bubble span.s1 {display:block; width:0; height:0; color:#FFF8CC; overflow:hidden;
border-top:6px solid #EBAE7F; border-left:6px dotted transparent; border-right:6px dotted
transparent; margin-left:6px;}

.bubble span.s2 {display:block; width:0; height:0; color:#EBAE7F; overflow:hidden;
border-top:5px solid #FFF8CC; border-left:5px dotted transparent; border-right:5px dotted
transparent; margin-left:7px; margin-top:-7px;}

.b1{display:block; overflow:hidden; font-size:0;}
.b1{height:1px;}

.b1 {margin:0 1px; background:#EBAE7F;}

.content {
	display:block;
	background:#FFF8CC;
}

.content p {margin:0 5px; padding: 5px 0;}
/*burbuja*/
/*w*/
