{% extends 'master.html' %}

{% block content %}
<ul>
    <li class="active"><a href="" title="Eventos del mes">Eventos del mes</a></li>
    <li><a href="" title="Talleres">Talleres</a></li>
    <li><a href="" title="Fija Lija 2012">Fija Lija 2012</a></li>
</ul>
<div class="tab">
    <h1>Próximos eventos</h1>
    <div class="email">
        <strong>Recibe todos los eventos en <a href="" title="Todos los EVENTOS en tu email">tu email</a></strong>
        <a href="" title="Todos los EVENTOS en tu email"><img class="image-align" src="{{STATIC_URL}}images/mail.png" alt="email" title="email" /></a>
    </div>
    <div class="clear"></div>
    <!-- Event -->
    <div class="event">
        <div class="event-photo">
            <a class="highslide" onclick="return hs.expand(this)"
               href="{{STATIC_URL}}images/full/Afiche_14_Bertolt_Brecht.jpg">
                <img src="{{STATIC_URL}}images/thumbs/Afiche_14_Bertolt_Brecht.jpg" alt="" title="" />
            </a>
        </div>
        <div class="event-detail">
            <div class="event-number"><p>N° 925</p></div>
            <div class="event-date"><p>del Jueves 1 de noviembre al Sábado 8 de diciembre de 2012</p></div>
            <h2><a href="">Talleres Virtuales VEAC: Desarrollo de Ideas de Negocio dentro de las Industrias Creativas</a></h2>
            <div class="event-content">
                <!-- TinyMCE in action -->
                <p style="text-align: left;" align="center">El <a href="http://www.martadero.org/programas/vivero.html" target="_blank">VEAC</a> (Vivero de Emprendimientos Artístico Creativos) presenta la serie:<br /><strong>Talleres Virtuales VEAC: Desarrollo de Ideas de Negocio dentro de las Industrias Creativas.<br /><br /></strong>Síguelos <strong>en directo y participa</strong> por el <strong>canal de streaming</strong> habilitado:<br /><a href="http://www.ustream.tv/channel/vivero-de-emprendimientos-art%C3%ADstico-creativos" target="_blank">http://www.ustream.tv/channel/vivero-de-emprendimientos-artistico-creativos</a></p>
                <!-- TinyMCE end of action -->
                <p class="event-explain"><a href="">...Más detalles</a></p>
                <p>Organiza: Vivero de Emprendimientos Artístico Creativos del mARTadero con el apoyo de HIVOS</p>
                <p class="event-date">Hora: 15:15</p>
                <p>Conexión en abierto</p>
            </div>
            <div class="event-comments"><a href="">Ver comentarios</a></div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- Event -->
    <div class="event">
        <div class="event-photo">
            <a href=""><img src="{{STATIC_URL}}images/conart.jpg" alt="" title="" /></a>
        </div>
        <div class="event-detail">
            <div class="event-number"><p>Nº 923</p></div>
            <div class="event-date"><p>del Jueves 22 al Jueves 29 de noviembre de 2012</p></div>
            <h2><a href="">Muestra CONART Process 2012</a></h2>
            <div class="event-content">
                <!-- TinyMCE in action -->
                <p>Muestra de audiovisual en tiempo real, obras fruto de la formación provocada por el CONART process 2012.</p><br /><p><strong>"Sample"</strong> Colectivo Sickness:</p><br /><p>22 y 29 de nov. Pje de la independencia (Plaza Colón acera este x confirmar) y mARTadero respectivamente. hrs: 19:30</p><br /><p>Pretende ser un acercamiento de los nuevos medios en el arte; mediante una muestra audiovisual en tiempo real se busca exponer los conocimientos adquiridos en el Conart 2012 a las personas que no están familiarizadas con las nuevas tecnologías y soportes digitales disponibles para realizar arte tanto visual como sonoro.</p><br /><p><strong>Los otros YO</strong></p><br /><p>23 y 28 de nov. Pje de la independencia (Plaza Barba de Padilla) y mARTadero respectivamente. Hrs. 19:30</p><br /><p>Este proyecto es un trabajo audiovisual interactivo, se presenta como una instalación en un lugar público y transitado ya que lo que busca es la i</p>
                <!-- TinyMCE end of action -->
                <p class="event-explain"><a href="">...Más detalles</a></p>
                <p>Organiza: mARTadero</p>
                <p class="event-time">Hora: 19:30</p>
                <p>Entrada libre</p>
            </div>
            <div class="event-comments"><a href="">Ver comentarios</a></div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- Event -->
    <div class="event">
        <div class="event-photo">
            <a href=""><img src="{{STATIC_URL}}images/metal.jpg" alt="" title="" /></a>
        </div>
        <div class="event-detail">
            <div class="event-number"><p>Nº 924</p></div>
            <div class="event-date"><p>Sábado 24 de noviembre de 2012</p></div>
            <h2><a href="">BOLIVIAN METAL ALLIANCE v. 2.0</a></h2>
            <div class="event-content">
                <!-- TinyMCE in action -->
                <p><strong>:::::::::::::::::BOLIVIAN METAL ALLIANCE v. 2.0:::::::::::::::::</strong><br /><br />El festival de metal más extremo de Bolivia!!!</p><br /><div class="text_exposed_show">Presentando a las bandas más intensas del país:<br /><br />- HOSTIL (La Paz)<br />-&nbsp;GHOSSLERD<br />- DAGA<br />- PRIMAL INSTINCTS<br />-&nbsp;DOMINIQUE<br />-&nbsp;CONTRACULTURA<br />-&nbsp;DELANZ</div><br /><div class="text_exposed_show">&nbsp;</div><br /><div class="text_exposed_show"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash3/525601_362928633795587_329213702_n.jpg" alt="" height="450" width="300" /></div><br /><div class="text_exposed_show">&nbsp;</div><br /><div class="text_exposed_show">A las 15:00 Concurso de Bandas (premio un Demo grabado) + Exposición de motos (Club de motocicletas Águilas Legendarias), y a las 18:30 será el inicio del festival.</div><br />
                <!-- TinyMCE end of action -->
                <p class="event-explain"><a href="">...Más detalles</a></p>
                <p>Organiza: Ghosslerd y The Essence Records</p>
                <p class="event-time">Hora: 15:00</p>
                <p>Bs. 20 y 2 x 30 (10 desde las 15:00)</p>
            </div>
            <div class="event-comments"><a href="">Ver comentarios</a></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="tab"></div>
<div class="tab"></div>
{% endblock %}