a img {
	border: 0;
}

#wrapper1 {
	border-left: 0px;
	border-right: 0px;
}

#wrapper2 {
	border-left: 0px;
	border-bottom: 0px;
}

/*#bar {
	border-bottom: 1px dotted #FFFFFF;
}

#bar a {
	/*border-right: 1px dotted #FFFFFF;
	border-left: 1px dotted #FFFFFF;
}*/

#tools input {
	border: 1px solid #E6E6E6; /*w*/
}

#menu h2, #info h2, #calendar h2, #login h2 {
	border-bottom: 1px dotted #000;
}

#menu a {
	border-left: 1px dotted #000;
}

#calendar table .today {
	border: solid thin #ccc;
}

#login input {
	border: solid thin #000;
}

#main h1, #title h1 {
	border-bottom: 1px dotted #000;
}

#content table.event {
	border-bottom: 1px dotted #000;
}
/*w*/
#content table.actividad {
	border-top: 1px dotted #000;
}
/*w*/

/* Stilos para los formularios */

#formularios {
	/*border: solid #3b5998 1px;*/
}

#formularios .form_presentacion {
	/*border:solid #C6CFE1 1px;*/
}

#formularios input {
	border:solid #FC0 1px;
	font-weight:bold;
}

#formularios .checkbox {
	border:solid #C6CFE1 1px;
	
}

#formularios textarea {
	border:solid #FC0 1px;
}

#formularios select {
	border:solid #C6CFE1 1px;	
}

#Formularios_Reserva {
	border: solid #3b5998 1px;
}

.form_button {
	border:solid #C6CFE1 1px;
	
}

td.mostrar    {
	/*border-bottom: solid #C6CFE1 1px;*/
}
