<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Language" content="es" />
        <meta http-equiv="title" content="mARTadero | Arte y Cultura para el Cambio Social | Cochabamba Bolivia" />
        <meta name="author" content="proyecto mARTadero" />
        <meta name="description" content="mARTadero - Un proyecto integral de desarrollo social a través del arte y la cultura en Cochabamba, Bolivia." />
        <meta name="distribution" content="global" />
        <meta name="keywords" content="arte,cultura,Cochabamba,Bolivia,desarrollo,cambio, social,contemporáneo,interaccion,artes visuales,artes escénicas,música,letras y literatura,audiovisuales,arquitectura,diseño,teatro,cine,residencias artísticas,formación,talleres,recuperación patrimonial" />
        <meta name="locality" content="Cochabamba, Bolivia" />
        <meta name="organization" content="mARTadero | Arte y Cultura para el Cambio Social | Cochabamba Bolivia" />
        <meta name="origen" content="mARTadero | Arte y Cultura para el Cambio Social | Cochabamba Bolivia" />
        <meta name="revisit" content="1 days" />
        <meta name="title" content="mARTadero | Arte y Cultura para el Cambio Social | Cochabamba Bolivia" />

        <link rel="icon" type="image/x-icon" href="{{STATIC_URL}}favicon.ico" />
        <link media="all" href="{{STATIC_URL}}css/style.css" type="text/css" rel="stylesheet" />

        <script type="text/javascript">//<![CDATA[
            var static_url = '{{STATIC_URL}}';
        //]]></script>

        <!-- highslide library -->
        <script type="text/javascript" src="{{STATIC_URL}}javascript/highslide/highslide-with-html.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}javascript/highslide.cfg.js"></script>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}javascript/highslide/highslide.css" />
        <link media="all" href="{{STATIC_URL}}css/highslide.css" type="text/css" rel="stylesheet" />

        <!-- tag for no indexation in spiders -->
        <meta name="robots" content="noindex,follow" />

        <title>mARTadero | Arte y Cultura | Cochabamba Bolivia</title>
    </head>
    <body>
        <div id="wrapper1">
            <div id="header">
                <img src="{{STATIC_URL}}images/martadero_arte_cultura_oxido.jpg"
                     alt="Proyecto mARTadero 2.0 | inter-media-acción" usemap="#map"
                     title="Proyecto mARTadero 2.0 | inter-media-acción" />
                <map name="map" id="map">
                    <area href="" alt="bienvenidos" class="highslide" 
                          onclick="return hs.htmlExpand(this, { headingText: 'BIENVENIDOS AL mARTadero 2.0', 'contentId': 'header1' })"
                          coords="508,57,510,90,750,58,748,17" shape="poly" />
                    <area href="" alt="desarrollo barrial" class="highslide" 
                          onclick="return hs.htmlExpand(this, { headingText: 'DESARROLLO BARRIAL', 'contentId': 'header2' })"
                          coords="85,135,86,149,198,145,199,132" shape="poly" />
                    <area href="" alt="redes" class="highslide" 
                          onclick="return hs.htmlExpand(this, { headingText: 'REDES', 'contentId': 'header3' })"
                          coords="202,140,202,151,319,152,320,140" shape="poly" />
                    <area href="" alt="incidencia" class="highslide" 
                          onclick="return hs.htmlExpand(this, { headingText: 'INCIDENCIA', 'contentId': 'header4' })"
                          coords="401,136,400,148,462,146,462,136" shape="poly" />
                    <area href="" alt="cultura libre" class="highslide" 
                          onclick="return hs.htmlExpand(this, { headingText: 'CULTURA LIBRE', 'contentId': 'header5' })"
                          coords="481,133,481,146,563,149,565,130" shape="poly" />
                    <area href="" alt="inter" class="highslide" 
                          onclick="return hs.htmlExpand(this, { headingText: 'INTER', 'contentId': 'header6' })"
                          coords="601,126,603,142,644,142,647,128" shape="poly" />
                    <area href="" alt="media" class="highslide" 
                          onclick="return hs.htmlExpand(this, { headingText: 'MEDIA', 'contentId': 'header7' })"
                          coords="650,129,650,144,688,144,689,129" shape="poly" />
                    <area href="" alt="accion" class="highslide" 
                          onclick="return hs.htmlExpand(this, { headingText: 'ACCIÓN', 'contentId': 'header8' })"
                          coords="695,140,696,153,742,152,742,138" shape="poly" />
                    <area href="" alt="autogestion" class="highslide" 
                          onclick="return hs.htmlExpand(this, { headingText: 'AUTOGESTIÓN', 'contentId': 'header9' })"
                          coords="846,133,848,146,932,145,933,131" shape="poly" />
                </map>
                <div class="popup">
                    <div id="header1" class="highslide-html-content">
                        <div class="highslide-header"><div class="highslide-close"><a href="#" onclick="hs.close(this)">&nbsp;</a></div></div>
                        <div class="highslide-body">
                            <p>Todo cambia menos el cambio... y al mARTadero, tras seis años intensivos de instal[acción], dedicados más a la adecuación del lugar y a la organización interna del equipo de trabajo, le tocaba tambien cambiar...</p>
                            <p>Transformamos sin perder lo bueno, e ir siempre a mejor. Eso es lo que buscamos, apostando por una mayor interacción con la ciudadanía y con otras instituciones como la nuestra, conectándonos a través de redes para trabajar colaborativamente, comprometiéndonos aún más con el desarrollo barrial, apoyándonos en las lógicas de la Cultura Libre, y luchando con fuerza por las necesarias condiciones para el sector cultural.</p>
                            <p>Una serie de ideas fuerza generadas en el camino. Una nueva lectura de nuestros principios fundacionales. Una resignificación de nuestro espacio cultural. Y un compromiso mayor y más firme... con una sociedad que tenga Cultura de Futuro.</p>
                            <p>Eso es el mARTadero 2.0 a grandes rasgos, y se manifiesta con un color más calido en el logo, con un lema nuevo más volcado a la sociedad, con nuevos símbolos más híbridos y lúdicos, con un compromiso por recursos (gráficos, fonts, docs, ...) de libre disposición, y con muchos rasgos más que iremos evidenciando juntos...</p>
                            <p>¡Bienvenidos a una nueva fase del proyecto mARTadero!</p>
                        </div>
                    </div>
                    <div id="header2" class="highslide-html-content">
                        <div class="highslide-header"><div class="highslide-close"><a href="#" onclick="hs.close(this)">&nbsp;</a></div></div>
                        <div class="highslide-body">
                            <p>¡Somos más barrio que nunca, porque queremos "glocalizarnos" desde nuestro contexto más inmediato!</p>
                            <p>Para ello, estamos trabajando con propuestas artísticas y técnicas en el mejoramiento barrial, mediante una plataforma interinstitucional que hemos impulsado y que irá mostrando nuestra capacidad de ir transformando nuestro entorno...</p>
                            <p>¡Creemos en el poder de la unidad y en la progresiva calidad de vida en nuestro barrios que podemos lograr juntos!</p>
                        </div>
                    </div>
                    <div id="header3" class="highslide-html-content">
                        <div class="highslide-header"><div class="highslide-close"><a href="#" onclick="hs.close(this)">&nbsp;</a></div></div>
                        <div class="highslide-body">
                            <p>¡Estamos entusiasmados con la conectividad, con la participación en redes colaborativas, y con el interaprendizaje mutuo que ello supone!</p>
                            <p>Por ello, nos estamos involucrando en redes locales, nacionales e internacionales (especialmente latinoamericanas), contribuyendo cuanto podemos en su consolidación y proyección a futuro...</p>
                            <p>¡Apostamos por un mundo con conexiones y sin fronteras!</p>
                        </div>
                    </div>
                    <div id="header4" class="highslide-html-content">
                        <div class="highslide-header"><div class="highslide-close"><a href="#" onclick="hs.close(this)">&nbsp;</a></div></div>
                        <div class="highslide-body">
                            <p>¡Buscamos cambios estructurales, desde la corresponsabilidad consciente y colectiva!</p>
                            <p>Y para que sucedan, tenemos que esforzarnos conjunta y concienzudamente, contribuyendo a la identificación de estrategias, a la organización de actividades, a la visibilización de experiencias exitosas... y confiar en la creatividad, pues nos quedan soluciones para descubrir.</p>
                            <p>¡Entendemos la importancia de la cultura como eje multidimensional de desarrollo!</p>
                        </div>
                    </div>
                    <div id="header5" class="highslide-html-content">
                        <div class="highslide-header"><div class="highslide-close"><a href="#" onclick="hs.close(this)">&nbsp;</a></div></div>
                        <div class="highslide-body">
                            <p>¡Estamos convencidos del bien común que genera accesibilizar abierta y libremente los contenidos culturales!</p>
                            <p>Porque es básico para el desarrollo justo y sostenible de una sociedad, y porque producir éticamente es una responsabilidad social ante dicha sostenibilidad. Comunicar sigue siendo "hacer a otro partícipe de lo que uno tiene", más aún viviendo en la actual sociedad del conocimiento, donde todos podemos ganar al compartirlo.</p>
                            <p>¡Suscribimos esa nueva -y antigua- lógica de comunicar, de hacer común lo bueno!</p>
                        </div>
                    </div>
                    <div id="header6" class="highslide-html-content">
                        <div class="highslide-header"><div class="highslide-close"><a href="#" onclick="hs.close(this)">&nbsp;</a></div></div>
                        <div class="highslide-body">
                            <p>¡Apostamos por la Inter-media-acción, detonando relaciones y procesos de futuro!</p>
                            <p>Para ello, lo "inter-" es clave, yendo aún más allá de lo "multi-" y de lo "poli-". Y así, interactuando, intercambiando, intermediando, interculturalizando, interrelacionando,... integramos poco a poco lo que estaba des-integrado...</p>
                            <p>¡Nos gusta definitivamente lo inter-activo!</p>
                        </div>
                    </div>
                    <div id="header7" class="highslide-html-content">
                        <div class="highslide-header"><div class="highslide-close"><a href="#" onclick="hs.close(this)">&nbsp;</a></div></div>
                        <div class="highslide-body">
                            <p>¡Apostamos por la Inter-media-acción, detonando relaciones y procesos de futuro!</p>
                            <p>Nos fascinan los nuevos medios y las nuevas discusiones sobre ellos. Buscamos un uso responsable y pertinente que evidencie su potencialidad. Y por ello nos gusta considerarlos nada más -y nada menos- que eso, poderosos medios tecno-lógicos al servicio del contenido, de la palabra, de la presencia...</p>
                            <p>¡Nos arriesgamos con fuerza a valorar lo media-tica y éticamente informativo!</p>
                        </div>
                    </div>
                    <div id="header8" class="highslide-html-content">
                        <div class="highslide-header"><div class="highslide-close"><a href="#" onclick="hs.close(this)">&nbsp;</a></div></div>
                        <div class="highslide-body">
                            <p>¡Apostamos por la Inter-media-acción, detonando relaciones y procesos de futuro!</p>
                            <p>Haciendo nos vamos conociendo. Accionando provocamos reacciones y relaciones más cualitativas cuanto más potencialmente interactivas. Nos gusta ser activos, proactivos, interactivos, hiperactivos... hasta donde nos alcancen las fuerzas.</p>
                            <p>¡Confiamos en la acción -activamente reflexionada- como lógica!</p>
                        </div>
                    </div>
                    <div id="header9" class="highslide-html-content">
                        <div class="highslide-header"><div class="highslide-close"><a href="#" onclick="hs.close(this)">&nbsp;</a></div></div>
                        <div class="highslide-body">
                            <p>¡Pretendemos profundizer nuestra autogestión!</p>
                            <p>Estamos fortaleciéndonos progresivamente como organización, estructurándonos y avanzando en corresponsabilidad y transparencia, en compromiso y gobernanza interna. Buscamos modos mixtos e ingeniosos de generar recursos para cultivar y potenciar nuestra interdependencia soberana...</p>
                            <p>¡Apostamos responsablemente por la autogestión!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="wrapper2">
                <div id="container">
                    <div id="bar">
                        <div class="left">
                            <ul class="primary">
                                <li>
                                    <a href="">Info</a>
                                    <ul class="secondary">
                                        <li><a href="" title="Agenda Cultural">Agenda Cultural</a></li>
                                        <li><a href="" title="Formación">Formación</a></li>
                                        <li><a href="" title="¿Quienes somos?">¿Quiénes somos?</a></li>
                                        <li><a href="" title="Contacto">Contacto</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Programas</a>
                                    <ul class="secondary">
                                        <li><a href="" title="formARTe">formARTe</a></li>
                                        <li><a href="" title="Taller de Niñ@s">Taller de Creatividad Infantil</a></li>
                                        <li><a href="" title="Acción Urbana">Acción Urbana</a></li>
                                        <li><a href="" title="Vivo y Verde">Vivo y Verde</a></li>
                                        <li><a href="" title="Vivero de Emprendimientos Artístico-Creativos">Vivero de Emprendimientos<br />Artístico-Creativos</a></li>
                                        <li><a href="" title="Pol&iacute;ticas Culturales">Políticas Culturales</a></li>
                                        <li><a href="" title="Residencias Art&iacute;sticas prAna">Residencias Artísticas prAna</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Viveros</a>
                                    <ul class="secondary">
                                        <li><a href="" title="LabDigital">LabDigital</a></li>
                                        <li><a href="" title="Ítaca">Ítaca</a></li>
                                        <li><a href="" title="&pi; :: Pi Producciones">&pi; Producciones</a></li>
                                        <li><a href="" title="Escuela Break Dance">Escuela Break Dance</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Propuestas</a>
                                    <ul class="secondary">
                                        <li><a href="" title="Bienal de Arte Urbano">Bienal de Arte Urbano&nbsp;-&nbsp;BAU</a></li>
                                        <li><a href="" title="CONART" target="_blank">CONART</a></li>
                                        <li><a href="" title="Paseo de las Artes">Paseo de las Artes</a></li>
                                        <li><a href="" title="Imag[e]nando">Imag[e]nando</a></li>
                                        <li><a href="" title="mARTadero Ayer y Hoy">mARTadero Ayer y Hoy</a></li>
                                        <li><a href="" title="Memoteca">Memoteca</a></li>
                                        <li><a href="" title="ProyectARTe">proyectARTe</a></li>
                                        <li><a href="" title="Cultura Libre">Cultura Libre</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Redes</a>
                                    <ul class="secondary">
                                        <li><a href="" title="4Ces - Circuito de Centros Culturales de Cochabamba">Red 4Ces</a></li>
                                        <li><a href="" title="Residencias en Red">Residencias en Red</a></li>
                                        <li><a href="" title="Eje Centr4l">Eje Centr4l</a></li>
                                        <li><a href="" title="REDesearte Paz">REDesearte Paz</a></li>
                                        <li><a href="" title="Territorio Cultural - Centros del Sur">Centros del Sur</a></li>
                                        <li><a href="" title="Bice Bugatti">Bice Bugatti</a></li>
                                        <li><a href="" title="Red Cultural Mercosur">R.C.M.</a></li>
                                        <li><a href="" title="Viva América">Viva América</a></li>
                                        <li><a href="" title="Mataderos del Mundo">Mataderos del mundo</a></li>
                                        <li><a href="" title="Redes Sociales">Redes Sociales</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Espacio</a>
                                    <ul class="secondary">
                                        <li><a href="" title="Conoce las salas del mARTadero">Conoce las salas</a></li>
                                        <li><a href="" title="Costos de aporte por uso" target="_blank">Costos de aporte por uso</a></li>
                                        <li><a href="" title="Equipamiento y herramientas">Equipamiento y herramientas</a></li>
                                        <li><a href="" title="Actores Culturales en el mARTadero">Actores Culturales en el mARTadero</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Participar</a>
                                    <ul class="secondary">
                                        <li><a href="" title="Participa como público">Como público</a></li>
                                        <li><a href="" title="Participa como artista">Como artista</a></li>
                                        <li><a href="" title="Participa como organización">Como organización</a></li>
                                        <li><a href="" title="Auspicia el mARTadero">Como empresa auspiciadora</a></li>
                                        <li><a href="" title="Participa como voluntario/a">Como voluntario/a o pasante</a></li>
                                        <li><a href="" title="Participa como contratado/a">Como contratado/a</a></li>
                                        <li><a href="" title="Hazte amig@ del mARTadero">Hazte amig@ del mARTadero</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Galería</a>
                                    <ul class="secondary">
                                        <li><a href="" title="Todas las imágenes en Picasa" target="_blank">Imágenes</a></li>
                                        <li><a href="" title="Videos del mARTadero en YouTube" target="_blank">Videos</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Media</a>
                                    <ul class="secondary">
                                        <li><a href="" title="Blog del mARTadero">Blog</a></li>
                                        <li><a href="" title="Artículos Publicados">Artículos Publicados</a></li>
                                        <li><a href="" title="Descargas">Descargas</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="primary">
                                <li>
                                    <a href=""><img src="{{STATIC_URL}}images/rss.png" title="RSS - Elige tu lector" alt="RSS - Elige tu lector"/></a>
                                    <ul class="secondary">
                                        <li><a href="" title="RSS TODO mARTadero" target="_blank">RSS TODO mARTadero</a></li>
                                        <li><a href="" title="Actualízate por email">RSS TODO por email</a></li>
                                        <li><a href="" title="RSS EVENTOS" target="_blank">RSS EVENTOS</a></li>
                                        <li><a href="" title="RSS TALLERES" target="_blank">RSS TALLERES</a></li>
                                        <li><a href="" title="RSS NOTICIAS y ARTICULOS" target="_blank">RSS BLOG</a></li>
                                        <li><a href="" title="RSS CONVOCATORIAS" target="_blank">RSS CONVOCATORIAS</a></li>
                                        <li><a href="" title="RSS mARTadero Podcast" target="_blank">mARTadero Podcast</a></li>
                                        <li><a href="" title="Recibe cada nuevo podcast en tu email">Podcast por email</a></li>
                                    </ul>
                                </li>
                                <li><a href="" target="_blank"><img src="{{STATIC_URL}}images/facebook.png" title="Hazte fan del proyecto mARTadero" alt="Hazte fan del proyecto mARTadero" /></a></li>
                                <li><a href="" target="_blank"><img src="{{STATIC_URL}}images/twitter.png" title="Síguenos en Twitter" alt="Síguenos en Twitter" /></a></li>
                                <li><a href="" target="_blank"><img src="{{STATIC_URL}}images/picasa.png" title="Todas las fotos en Picasa" alt="Todas las fotos en Picasa" /></a></li>
                                <li><a href="" target="_blank"><img src="{{STATIC_URL}}images/flickr.png" title="mARTadero en Flickr" alt="mARTadero en Flickr" /></a></li>
                                <li><a href="" target="_blank"><img src="{{STATIC_URL}}images/youtube.png" title="Canal YouTube mARTadero" alt="Canal YouTube mARTadero" /></a></li>
                                <li><a href="" target="_blank"><img src="{{STATIC_URL}}images/ustream.png" title="Canal de Streaming mARTadero" alt="Canal de Streaming mARTadero" /></a></li>
                                <li><a href="" target="_blank"><img src="{{STATIC_URL}}images/podcast.png" title="Podcast mARTadero" alt="Podcast mARTadero" /></a></li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div id="tools">
                        <ul>
                            <li><a href="">Participar en el espacio</a></li>
                            <li><a href="" class="bold border-left" target="_blank">Suscríbete a nuestro boletín&nbsp;<img class="image-align" src="{{STATIC_URL}}images/arrow.gif" title="Suscribir" alt="Suscribir" /></a></li>
                        </ul>
                    </div>
                    <div id="head_bar">
                        <div id="logo">
                            <a href=""><img src="{{STATIC_URL}}images/logo-martadero-dospuntocero.jpg" title="proyecto mARTadero" alt="proyecto mARTadero" /></a>
                        </div>
                        <div id="services">
                            <div class="service">
                                <p>Busca toda la info en la web del mARTadero</p>
                                <div style="width:100%; height:20px;"><img src="{{STATIC_URL}}images/google_sample.jpg" alt="" title="" /></div>
                            </div>
                            <div class="service">
                                <div style="width:100%; height:25px;"><img src="{{STATIC_URL}}images/addthis_sample.jpg" alt="" title="" /></div>
                            </div>
                        </div>
                        <div id="participate">
                            <a href=""><img src="{{STATIC_URL}}images/participa.jpg" alt="Participa" title="Participa" /></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div id="content">
                        <div id="main">{% block content %}{% endblock %}</div>
                        <div id="left_bar">
                            <div class="post">
                                <h1>Este mes en el mARTadero</h1>
                                <table class="calendar">
                                    <tr>
                                        <td class="text-center bold">
                                            <a href="">&lsaquo;&lsaquo;</a>
                                        </td>
                                        <td colspan="5" class="text-center bold">
                                            <h2><a href="">Noviembre 2012</a></h2>
                                        </td>
                                        <td class="text-center bold">
                                            <a href="">&rsaquo;&rsaquo;</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bold">L</td>
                                        <td class="bold">M</td>
                                        <td class="bold">X</td>
                                        <td class="bold">J</td>
                                        <td class="bold">V</td>
                                        <td class="bold">S</td>
                                        <td class="bold">D</td>
                                    </tr>
                                    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>
                                    <tr><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td></tr>
                                    <tr><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td></tr>
                                    <tr><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td></tr>
                                    <tr><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                                </table>
                            </div>
                            <div class="post">
                                <h1>Eje temático 2012</h1>
                                <ul>
                                    <li>
                                        <a href="info-cultural/eje_tematico.html">Reductos tecno-lógicos</a>
                                    </li>
                                    <li>
                                        <a href="" title="Akelarre Cyborg" target="_blank"><img src="{{STATIC_URL}}images/aklr.jpg" title="Akelarre Cyborg" alt="Akelarre Cyborg" /></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="post">
                                <h1>Proyecto mARTadero</h1>
                                <ul>
                                    <li>
                                        <a href="arte-cultura/quienes_somos.html">Quiénes somos</a>
                                    </li>
                                    <li>
                                        <a href="info-cultural/contactos.html#equipo">Equipo humano</a>
                                    </li>
                                    <li>
                                        <a href="participa/ser_parte_del_equipo.html">Ser parte del equipo</a>
                                    </li>
                                    <li>
                                        <a href="arte-cultura/conexiones.html">Conexiones</a>
                                    </li>
                                    <li>
                                        <a href="arte-cultura/martadero_v20.html">Proyecciones</a>
                                    </li>
                                    <li>
                                        <a href="arte-cultura/nos_interesa.html">Nos interesa</a>
                                    </li>
                                    <li>
                                        <a href="arte-cultura/tarjeta_arcoiris.html">Hazte amig@ del mARTadero</a>
                                    </li>
                                    <li>
                                        <a href="arte-cultura/fondart.html">Fondo para el Desarrollo<br/>de las Artes - FONDART</a>
                                    </li>
                                    <li>
                                        <a href="arte-cultura/visita.html">Visita guiada</a>
                                    </li>
                                    <li>
                                        <a href="arte-cultura/apoyos.html">Apoyos</a>
                                    </li>
                                    <li>
                                        <a href="arte-cultura/colabora.html">Haz una donación</a>
                                    </li>
                                    <li>
                                        <a href="galeria/descargas.html">Descargas</a>
                                    </li>
                                    <li>
                                        <a href="info-cultural/contactos.html">Contacto</a>
                                    </li>
                                    <li>
                                        <a href="info-cultural/contactos.html#mapa">Cómo llegar</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="post">
                                <h1>Usuario del mARTadero</h1>
                                <form method="post" action="">
                                    <p><label>Correo electrónico:</label><input type="text" /></p>
                                    <p><label>Contraseña:</label><input type="password" /></p>
                                    <p><input type="submit" value="Acceder" /></p>
                                </form>
                            </div>
                            <div class="post">
                                <h1>Contacto</h1>
                                <p>Calle 27 de agosto y Ollantay<br />Cochabamba, Bolivia</p>
                                <table>
                                    <tr>
                                        <td>L</td>
                                        <td>15h00 a 19h00</td>
                                    </tr>
                                    <tr>
                                        <td>M a V</td>
                                        <td>09h00 a 13h00<br />15h00 a 19h00</td>
                                    </tr>
                                    <tr>
                                        <td>S y D</td>
                                        <td>según actividades</td>
                                    </tr>
                                </table>
                                <p>Telf. (591-4) 4588778</p>
                                <p><a href="">+ detalles</a></p>
                                <p class="text-center"><a href=""><img src="{{STATIC_URL}}images/ubicacion.jpg" title="Ubicación del mARTadero" alt="Ubicación el mARTadero" /></a></p>
                                <p class="text-center">Pincha sobre el mapa<br />para conocer cómo llegar</p>
                            </div>
                            <div id="sharing">
                                <p><a href="" title="Cultura Libre"><strong>Comparte libremente</strong></a> los contenidos de esta web</p>
                                <p class="text-center"><a target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license"><img src="{{STATIC_URL}}images/88x31.png" title="Licencia de Creative Commons" alt="Licencia de Creative Commons" /></a></p>
                                <p class="text-center"><a target="_blank" href="http://movecommons.org/es/np-rp-rc.to-gr/0.1/"><img src="{{STATIC_URL}}images/np-rp-rc.png" title="mARTadero es Move Commons es Bien Común" alt="Move Commons Sin ánimo de lucro, Reproducible, Reinforcing the Town/community/society Commons, Horizontal" /></a></p>
                            </div>
                        </div>
                    </div>
                    <div id="right_bar">
                        <div class="post">
                            <a target="_blank" href=""><img src="{{STATIC_URL}}images/banner_exposicion.jpg" title="EX_POSICION" alt="EX_POSICION" /></a>
                        </div>
                        <div class="post">
                            <a target="_blank" href=""><img src="{{STATIC_URL}}images/podcast_libre.jpg" title="Descarga y comparte las entrevistas del proyecto mARTadero" alt="Descarga y comparte las entrevistas del proyecto mARTadero" /></a>
                        </div>
                        <div class="post">
                            <h1>BLOG</h1>
                            <div class="email">
                                <strong>Actualízate desde <a href="" title="Recibe los post del BLOG en tu email">tu email</a></strong>
                                <a href="" title="Recibe los post del BLOG en tu email"><img class="image-align" src="{{STATIC_URL}}images/mail.png" alt="email" title="email" /></a>
                            </div>
                            <div class="clear"></div>
                            <div class="post-element">
                                <img src="{{STATIC_URL}}images/flecha_blog.jpg" alt="" title="" />
                                <a title="Kinina de [Akelarre Yaku] : un proyecto de Quimera Rosa y Transnoise" href="">Kinina de [Akelarre Yaku] : un proyecto de Quimera Rosa y Transnoise</a>
                            </div>
                            <div class="post-element">
                                <img src="{{STATIC_URL}}images/flecha_blog.jpg" alt="" title="" />
                                <a title="MANIFIESTO: La Piedra en el Zapato" href="">MANIFIESTO: La Piedra en el Zapato</a>
                            </div>
                            <div class="post-element">
                                <img src="{{STATIC_URL}}images/flecha_blog.jpg" alt="" title="" />
                                <a title="Danza y tecnología en el Tercer Festival Internacional de Videodanza “Cuerpo Digital”" href="">Danza y tecnología en el Tercer Festival Internacional de Videodanza “Cuerpo Digital”</a>
                            </div>
                            <div class="all">
                                <a title="Lee y comenta las noticias y artículos del mARTadero" href="http://www.martadero.org/noticias/noticias.html">...consulta + posts del Blog.</a>
                            </div>
                        </div>
                        <div class="post">
                            <h1>CONVOCATORIAS</h1>
                            <div class="email">
                                <strong>Actualízate desde <a href="" title="Recibe los post del BLOG en tu email">tu email</a></strong>
                                <a href="" title="Recibe los post del BLOG en tu email"><img class="image-align" src="{{STATIC_URL}}images/mail.png" alt="email" title="email" /></a>
                            </div>
                            <div class="clear"></div>
                            <div class="post-element">
                                <img src="{{STATIC_URL}}images/flecha_blog.jpg" alt="" title="" />
                                <a href="" title="Convocatoria FOTOBAMBA: Rumbo a la bienal de Fotografía">FOTOBAMBA: Rumbo a la bienal de Fotografía.</a>
                            </div>
                            <div class="all">
                                <a title="Lee y comenta las noticias y artículos del mARTadero" href="http://www.martadero.org/noticias/noticias.html">...consulta + posts del Blog.</a>
                            </div>
                        </div>
                        <div class="post">
                            <h1>DESCARGA LIBRE</h1>
                            <p><a href=""><img src="{{STATIC_URL}}images/libreria_martadero.jpg" alt="" title="" /></a></p>
                            <p><a href=""><img src="{{STATIC_URL}}images/libreria_f22.jpg" alt="" title="" /></a></p>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div id="foot_bar">
                        <ul>
                            <li>
                                Proyecto generado por <a href="" title="NADA">NADA</a>
                                <a href=""><img src="{{STATIC_URL}}images/logo_nada_web.jpg" alt="NADA" title="NADA" /></a>
                            </li>
                            <li>
                                Gestionado por <a href="http://www.fundacionimagen.org/" title="Fundación Imagen" target="_blank">Fundación Imagen</a>
                                <a href="http://www.fundacionimagen.org/" target="_blank"><img src="{{STATIC_URL}}images/logo_fi_web.jpg" alt="Fundación Imagen" title="Fundación Imagen" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="footer">
                    <ul class="primary">
                        <li>
                            <a href="">Info</a>
                            <ul class="secondary">
                                <li><a href="" title="Agenda Cultural">Agenda Cultural</a></li>
                                <li><a href="" title="Formación">Formación</a></li>
                                <li><a href="" title="¿Quienes somos?">¿Quiénes somos?</a></li>
                                <li><a href="" title="Contacto">Contacto</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Programas</a>
                            <ul class="secondary">
                                <li><a href="" title="formARTe">formARTe</a></li>
                                <li><a href="" title="Taller de Niñ@s">Taller Infantil</a></li>
                                <li><a href="" title="Acción Urbana">Acción Urbana</a></li>
                                <li><a href="" title="Vivo y Verde">Vivo y Verde</a></li>
                                <li><a href="" title="Vivero de Emprendimientos Artístico-Creativos">V.E.A.C.</a></li>
                                <li><a href="" title="Pol&iacute;ticas Culturales">Políticas Culturales</a></li>
                                <li><a href="" title="Residencias Art&iacute;sticas prAna">Residencias prAna</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Viveros</a>
                            <ul class="secondary">
                                <li><a href="" title="LabDigital">LabDigital</a></li>
                                <li><a href="" title="Ítaca">Ítaca</a></li>
                                <li><a href="" title="&pi; :: Pi Producciones">&pi; Producciones</a></li>
                                <li><a href="" title="Escuela Break Dance">Escuela Break Dance</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Propuestas</a>
                            <ul class="secondary">
                                <li><a href="" title="Bienal de Arte Urbano">BAU</a></li>
                                <li><a href="" target="_blank" title="CONART">CONART</a></li>
                                <li><a href="" title="Paseo de las Artes">Paseo de las Artes</a></li>
                                <li><a href="" title="Imag[e]nando">Imag[e]nando</a></li>
                                <li><a href="" title="mARTadero Ayer y Hoy">Ayer y Hoy</a></li>
                                <li><a href="" title="Memoteca">Memoteca</a></li>
                                <li><a href="" title="proyectARTe">ProyectARTe</a></li>
                                <li><a href="" title="Cultura Libre">Cultura Libre</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Redes</a>
                            <ul class="secondary">
                                <li><a href="" title="4Ces - Circuito de Centros Culturales de Cochabamba">Red 4Ces</a></li>
                                <li><a href="" title="Residencias en Red">R_en_r</a></li>
                                <li><a href="" title="Eje Centr4l">Eje Centr4l</a></li>
                                <li><a href="" title="REDesearte Paz">REDesearte Paz</a></li>
                                <li><a href="" title="Territorio Cultural - Centros del Sur">Centros del Sur</a></li>
                                <li><a href="" title="Bice Bugatti">Bice Bugatti</a></li>
                                <li><a href="" title="Red Cultural Mercosur">R.C.M.</a></li>
                                <li><a href="" title="Viva América">Viva América</a></li>
                                <li><a href="" title="Mataderos del Mundo">Mataderos</a></li>
                                <li><a href="" title="Redes Sociales">Redes Sociales</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Espacio</a>
                            <ul class="secondary">
                                <li><a href="" title="Conoce las salas del mARTadero">Salas</a></li>
                                <li><a href="" title="Costos de aporte por uso" target="_blank">Aporte por uso</a></li>
                                <li><a href="" title="Equipamiento y herramientas">Equipamiento</a></li>
                                <li><a href="" title="Actores Culturales en el mARTadero">Actores Culturales</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Participar</a>
                            <ul class="secondary">
                                <li><a href="" title="Participa como público">Como público</a></li>
                                <li><a href="" title="Participa como artista">Como artista</a></li>
                                <li><a href="" title="Participa como organización">Como organización</a></li>
                                <li><a href="" title="Auspicia el mARTadero">Como empresa</a></li>
                                <li><a href="" title="Participa como voluntario/a">Como voluntario/a</a></li>
                                <li><a href="" title="Participa como contratado/a">Como contratado/a</a></li>
                                <li><a href="" title="Hazte amig@ del mARTadero">Hazte amig@</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Galería</a>
                            <ul class="secondary">
                                <li><a href="" title="Todas las imágenes en Picasa" target="_blank">Imágenes</a></li>
                                <li><a href="" title="Videos del mARTadero en YouTube" target="_blank">Videos</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Media</a>
                            <ul class="secondary">
                                <li><a href="" title="Blog del mARTadero">Blog</a></li>
                                <li><a href="" title="Artículos Publicados">Artículos Publicados</a></li>
                                <li><a href="" title="Descargas">Descargas</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </body>
</html>
