body {
	margin: 0px;
	padding: 0px;
}

form { /* en iexplorer recorta los fomrularios */
	margin-top: 1px;
}

#wrapper1 {
	margin: 0px auto;
}

#wrapper2 {
	padding-left: 4px;
	padding-right: 4px;
}

#header {
	padding-top: 4px;
	margin-left: -31px;
}

#bar {
	padding-top: 47px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-bottom:5px;
	padding-left:25px;
}

/*#bar a {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
}*/

#top {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 7px;
	padding-right: 7px;
}

#tools, #Logo {
	margin: 0px;
	margin-bottom: 5px;
}

#tools form {
	text-align: right;
}

#session{
	float:left; 
	padding:5px;
}

#menu, #calendar {
	padding-top: 12px;
	padding-bottom: 5px;
}

#menu ul {
	padding-left: 0px;

}

#menu h2 {
	margin-top: 20px;
	font-weight:bold;

}

#menu a {
	display: block;
	padding: 2px 3px;
	margin: 0px 0px 5px 0px;
	/*font-weight:bold;*/
}

#calendar table {
	padding-left: 3px;
	padding-right: 3px;
}

#login table td {
	padding-bottom: 0px;
}

#login table input[type="text"], #login table input[type="password"] {
	margin-left: 10px;
}

#login table input[type="submit"] {
	margin-top: 5px;
}

#main {
	padding-right:10px;
}

#main h1, #title h1 {
	padding-bottom: 5px;
	margin: 5px 0px 10px;
}

#main h2 {
	margin: 0 0 10px;
	padding: 0;
}

#main h3 {
	margin: 0;
	padding: 1px 2px;
}

#main div.rss {
	float: right;
}

#content .color_int_social {
	padding: 1px 3px 1px 8px;
}

#content .color_arte_visual {
	padding: 1px 3px 1px 8px;
}

#content .color_letras {
	padding: 1px 3px 1px 8px;
}

#content .color_arte_escenica {
	padding: 1px 3px 1px 8px;
}

#content .color_grafico_arquitectura {
	padding: 1px 3px 1px 8px;
}

#content .color_audiovisual {
	padding: 1px 3px 1px 8px;
}

#content .color_musica {
	padding: 1px 3px 1px 8px;
}

/*w*/
/*por max hecho*/
#content img {
/*desconfigura al estilo de la galeria*/
/*	margin:5px 10px 15px 5px;*/

}
/*fin max*/


#mapa {

	padding-left: 30px;

}



.desc_salas{

	padding: 10px;

}



#content table.event {

	width: 100%;

	margin: 0px 0px 15px 0px;

	padding: 0px 0px 5px 0px;

}



/*w*/

#content table.actividad {

	width: 100%;

	margin: 0px 0px 0px 0px;

	padding: 0px 0px 0px 0px;

}



.eventnumber{

	width: 50px; 

	height: 15px; 

	float: right;

}



p.event_content{

	margin-top:0px;

	margin-bottom:5px;
	
	text-align:justify;
	
	font-size:14px;

}



p.mas_detalles{

	margin:0px;

	width: 150px; 

	float: right;

	position:relative;

	top:-15px;

}



#content td.image img {

	/*margin: 5px 10px 5px 5px;*/

}



#content td.image p {

	margin: 5px 10px 5px 5px;

}



#content p.destacados img {

	margin: 0px 0px 0px 0px;

	vertical-align:middle;

}



/*w*/





#content #index a {

	display: block;

	padding-bottom: 5px;

}



#content ul li {

	padding-bottom: 15px;

}



#cloud {

	margin: 10px;

}



#cloud a {

	margin-right: 10px;

}



#footer {

	padding-top:10px;

}



.text_form {

	/*text-align: left;*/

}



.text_box {

	display: block;

	padding-top: 5px;

	padding-right: 10px;

	margin-left: 30px;

	margin-top: 10px;

	padding-bottom: 10px;

}



.text_box a {

	padding-top: 5px;

	padding-right: 2px;

	/*margin-left: 30px;*/

	margin-top: 10px;

}



.text_box_image {

	margin-right: 15px;

	margin-bottom: 5px;

}



#programa {

	/*margin-left: 30px;*/

	margin-top: 10px;

}



#programa .programa_text {

	margin: 5px 10px 5px 10px;	

}



#programa table {

	margin: 0px 0px 0px 0px;

	padding: 0px 0px 0px 0px;	

}


/* PARA QUITAR LA IMPOSIBILIDAD DE PONERLE ESPACIO HORIZONTAL Y VERTICAL */
#programa img {

	margin: 0px 5px 0px 0px;

	/*padding: 0px 0px 0px 0px;	*/

}



/* Stilos para los formularios */



#formularios {

	padding: 15px 10px 15px 10px;

}



#formularios .form_presentacion .form_presentacion_font {

	padding: 15px 15px 20px 15px;

}



#formularios .form_pregunta {

	padding-right: 15px;

}

	

#formularios .form_nom_amb {

	padding-left: 5px;

}



#Formularios_Reserva {

	padding: 15px 10px 15px 10px;

}



.form_button {

	padding: 5px 10px 10px 5px;

}



td.mostrar    {

	margin: 2px 1px 2px 1px;	

}



